@using WebColorinAPP.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
    Layout = null;
}
<!doctype html>
<!--
    Fox by FreeHTML5.co
    Twitter: https://twitter.com/fh5co
    Facebook: https://fb.com/fh5co
    URL: https://freehtml5.co
-->
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Colorin Muebles</title>

    <!-- Bootstrap CSS -->
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>
<body>
    <div class="container-fluid pl-0 pr-0 bg-img clearfix parallax-window2" data-parallax="scroll" data-image-src="../Content/images/banner3.jpg">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container">
                <!-- Brand -->
                <a class="navbar-brand mr-auto" href="../Home/Index"><img src="~/Content/images/logo.png" alt="FoxPro" style="width: 120px;" /></a>

                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> <span class="navbar-toggler-icon"></span> </button>

                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"> <a class="nav-link" href="../Home/Index"><b>Inicio</b></a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#about-us"><b>Nosotros</b></a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#"><b>Productos</b></a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#contact"><b>Contacto</b></a> </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
        <div class="container" style="padding: 50px; background-color: rgba(46, 100, 139, 0.8)">

            <h2 style="color:aliceblue;">@ViewBag.Title.</h2>
            <div class="row">
                <div class="col-md-8">
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4 style="color:aliceblue;">Utilice una cuenta local para iniciar sesión.</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group" style=" color:aliceblue;">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style=" color:aliceblue;">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style=" color:aliceblue;">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Iniciar sesión" class="btn btn-default" />
                                </div>
                            </div>
                            <p>
                                @Html.ActionLink("Registrarse como usuario nuevo", "Register")
                            </p>
                           
                            @* Habilite esta opción una vez tenga la confirmación de la cuenta habilitada para la funcionalidad de restablecimiento de contraseña
                                <p>
                                    @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword")
                                </p>*@
                        }
                    </section>
                </div>
                <div class="col-md-4">
                    <section id="socialLoginForm">
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                </div>
            </div>

        </div>
    </div>


    <footer class="container-fluid">
        <form action="" method="post">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 footer1 d-flex wow bounceInLeft" data-wow-delay=".25s">
                        <div class="d-flex flex-wrap align-content-center">
                            <a href="#"><img src="~/Content/images/logo.png" alt="logo" /></a>
                            <p>&copy; 2020 Colirin. Todos los derechos reservados<br></p>
                        </div>
                    </div>
                    <div class="col-md-6 footer2 wow bounceInUp" data-wow-delay=".25s" id="contact">
                        <div class="form-box">
                            <h4>Contactanos</h4>
                            <table class="table table-responsive d-table">
                                <tr>
                                    <td><input type="text" class="form-control pl-0" id="txbNombre" name="txbNombre" placeholder="NOMBRE" /></td>
                                    <td><input type="email" class="form-control pl-0" id="txbMail" name="txbMail" placeholder="MAIL" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><input type="text" class="form-control pl-0" id="txbTelefono" name="txbTelefono" placeholder="TELEFONO" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><input type="text" class="form-control pl-0" id="txbMensaje" name="txbMensaje" placeholder="MENSAJE" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-center pl-0"><button type="submit" class="btn btn-dark">ENVIAR</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-3 footer3 wow bounceInRight" data-wow-delay=".25s">
                        <h5>UBICACIÓN</h5>
                        <p>El Talar, Tigre. Buenos Aires </p>
                        <h5>TELEFONO</h5>
                        <p>11 5731-3014</p>
                        <h5>EMAIL</h5>
                        <p>Colorin.Muebleria@gmail.com</p>
                        <div class="social-links">
                            <ul class="nav nav-item">
                                <li><a href="https://www.facebook.com/fh5co" class="btn btn-secondary mr-1 mb-2"><img src="~/Content/images/facebook.png" alt="facebook" /></a></li>
                                <li><a href="#" class="btn btn-secondary mr-1 ml-1 mb-2"><img src="~/Content/images/facebook.png" alt="facebook" /></a></li>
                                <li><a href="#" class="btn btn-secondary mr-1 ml-1 mb-2"><img src="~/Content/images/facebook.png" alt="facebook" /></a></li>
                                <li><a href="#" class="btn btn-secondary ml-1 mb-2"><img src="~/Content/images/facebook.png" alt="facebook" /></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS, ... -->

    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/parallax.js"></script>
    <script src="~/Content/js/wow.js"></script>
    <script src="~/Content/js/main.js"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>